.switch {
    margin-left: auto;
    position: relative;
}

.switch input {
    display: none;
}

.slider {
    display: block;
    cursor: pointer;
    width: 85px;
    height: 30px;
    padding: 2px;
    border: 2px solid var(--violet);
    border-radius: 10px;
}
 
.slider:before {
    display: block;
    content: "Dark";
    height: 22px;
    width: 50px;
    padding: 4%;
    text-align: center;
    border: 1px solid var(--violet);
    border-radius: 7px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    border-color: var(--violet-light);
    box-shadow: 0px 0px 10px var(--violet-light);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
    content: "Light";
    border-color: var(--violet-light);
    color: var(--blue);
    box-shadow: 0px 0px 10px var(--violet-light);
}