.carousel {
    display: flex;
    align-items: center;
}

.item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item h1 {
    margin-top: 10px;
}

.fas{
    color: var(--gray);
    cursor: pointer;
}

.disable {
    color: var(--gray-light);
    cursor: auto;
}

.fas:hover {
    color: var(--violet);
}

.item button {
    width: 90%;
    height: 100%;
    background: none;
    padding: 0;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.item button img {
    min-height: 100%;
}

.popup-overlay {
    background: rgba(101, 97, 114, 0.5);
}

.popup-content {
    width: 90%;
    height: 90%;
}

.modal { 
    height: 100%;
    overflow-y: scroll;
}

.modal .content {
    background-color: var(--white);
    text-align: center;
}

.block p {
    padding: 20px 40px;
    line-height: 30px;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 10px;
    right: 0px;
    font-size: 24px;
    color: var(--gray-light);
    background: none;
    border: none;
}

.close:hover {
    color: var(--gray);
}

@media (min-width: 800px) {
    .revers {
        padding: 40px 0;
        flex-direction: row-reverse;
    }
    .modal .block {
        display: flex;
        align-items: center;
    }
    .modal img {
        width: 60%;
    }
    .modal p {
        width: 40%;
    }
}