footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .redes {
    display: flex;
    width: 50%;
    margin: auto;
}

i {
    margin: auto;
    font-size: 20px;
    color: var(--violeta);
}