footer{
    position: absolute;
    bottom: 0;
}

footer .redes {
    display: flex;
    width: 50%;
    margin: auto;
}

.redes a {
    margin: auto;
    font-size: 20px;
    color: var(--gray-light);
}

i:hover {
    color: var(--violet);
    cursor: pointer;
}