footer{
    background-color: var(--gris-light);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .redes {
    display: flex;
    width: 50%;
    margin: auto;
}

footer img {
    margin: auto;
    height: 30px;
    background-color: var(--gris);
}