.formulario {
    height: 100px;
    align-items: center;
    overflow: hidden;
}

.formulario ol {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.formulario li {
    width: 100%;
    flex: 0 0 auto;
}

.formulario h1, .box {
    margin-bottom: 20px;
}

.box {
    width: 100%;
    height: 50px;
    border: 3px solid var(--violet-light);
    border-radius: 10px;
    text-align: center;
}

.box:focus {
    border: 3px solid var(--violet);
    outline: none;
}