.button {
    width: 60%;
    height: 40px;
    padding: 8px;
    margin: auto;
    border: 3px solid var(--violet-light);
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    display: block;
}

.select div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.select p {
    position: absolute;
    cursor: pointer;
}

.select input {
    z-index: 1;
    appearance: none;
    margin: auto;
    cursor: pointer;
}

.select {
    display: none;
    background-color: var(--white);
}

.button:focus + form, .select:hover {
    display: block;
    position: fixed;
    left: 20%;
    right: 20%;
}