.BrainhubCarousel__track {
    overflow: visible !important;
}

.anatomy li {
    flex-direction: column;
} 

.item1, .item2 {
    display: flex;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 10%;
}

.item1 {
    flex-direction: column;
}

.item2 {
    flex-direction: column-reverse;
    align-items: flex-end;
}

.item2 a:hover, .item1 a:hover {
    cursor:default;
}

.item1 .line {
    border-bottom: 2px dashed var(--gray-light);
    border-left: 2px dashed var(--gray-light);
    width: 20%;
    height: 30%;
}

.item2 .line {
    border-top: 2px dashed var(--gray-light);
    border-right: 2px dashed var(--gray-light);
    width: 20%;
    height: 30%;
}

.item3 a {
    cursor: default;
}

.anatomy .image {
    margin: 20% 0;
}

.anatomy .image img {
    max-height: 150px;
}