.dark {
    --violet: #fbf6ff;
    --violet-light: #7933B9;
    --blue: #3FD2EF;
    --yellow: #F4D451;
    --pink: #EB6678;
    --gray:  #BFB8C4;
    --gray-light: #656172;
    --white: #220E34;
    background-color: #220E34;
}

.dark .zic {
    filter:drop-shadow(0 0 10px var(--yellow))
}

.dark .onda {
    filter:drop-shadow(0 0 10px var(--pink))
}

.dark .circles {
    filter:drop-shadow(0 0 10px var(--violet-light))
}

.dark .image img {
    filter: brightness(100);
}

html {
    --violet: #220E34;
    --violet-light: #7933B9;
    --blue: #3FD2EF;
    --yellow: #F4D451;
    --pink: #EB6678;
    --gray: #656172;
    --gray-light: #BFB8C4;
    --white: #fbf6ff;
}