.col-1 {
    grid-column: span 1;
  }
  
.col-2 {
    grid-column: span 2;
  }
  
.col-3 {
    grid-column: span 3;
  }
  
.col-4 {
    grid-column: span 4;
  }

@media (min-width: 800px) {
  .col-1 {
    grid-column: span 2;
  }

  .col-2 {
    grid-column: span 4;
  }

  .col-3 {
    grid-column: span 6;
  }

  .col-4 {
    grid-column: span 8;
  }
}

@media (min-width: 900px) {
  .col-1 {
    grid-column: span 3;
  }

  .col-2 {
    grid-column: span 6;
  }

  .col-3 {
    grid-column: span 9;
  }

  .col-4 {
    grid-column: span 12;
  }
}