*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

img,
svg,
iframe,
video,
audio {
  max-width: 100%;
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--violet);
  text-decoration: none;
}

@media (min-width: 800px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--white); 
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--gray-light);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--gray); 
  }
}